<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Nota</title>
    <%- include('../../utils/links') %>
</head>

<body>
    <h2>Incluir nota</h2>
    <a href="/notas">Notas</a>
    <form action="/incluirNota" method="POST">
        <div class="mb-3">
            <input type="text" name="asignatura" placeholder="Asignatura" required>
        </div>
        <div class="mb-3">
            <input type="number" name="calificacion" placeholder="Calificacion" required>
        </div>
        <div class="mb-3">
            <input type="number" name="curso" placeholder="Curso" required>
        </div>
        <div class="mb-3">
            <input type="text" name="nota" placeholder="Notas">
        </div>
        <button type="submit" class="btn btn-primary">Incluir</button>
    </form>
</body>

</html>